/* You can add global styles to this file, and also import other style files */
/*
  Color Img footer #a8a8a8
  Color logo #eeff00

*/
@import "~ag-grid/dist/styles/ag-grid.css";
@import "~ag-grid/dist/styles/ag-theme-balham.css";

html, body {
    margin: 0;
    height: 100%;
    
    background-color: #eaeaeb !important;
}