/* You can add global styles to this file, and also import other style files */
/*
  Color Img footer #a8a8a8
  Color logo #eeff00

*/
html, body {
    margin: 0;
    height: 100%;
    
    background-color: #eaeaeb !important;
}