<section>
    <div class="container-fluid menu">
        <div class="container menu__content">
            <div class="menu__content__logo">
                <img class="menu__content__logo--imagem" src="../../../assets/img/logo.png" alt="logo">
            </div>
        </div>
    </div>
    <div class="container submenu__content">
        <div class="submenu__content__menu">
            <ul class="submenu__content__menu__list nav">
                <li class="submenu__content__menu__list--item nav-item">
                    <a class="nav-link submenu__content__menu__list--link" href="#">DEBT</a>
                </li>
                <li class="submenu__content__menu__list--item nav-item">
                    <a class="nav-link submenu__content__menu__list--link" href="#">CREDIT</a>
                </li>
                <li class="submenu__content__menu__list--item nav-item">
                    <a class="nav-link submenu__content__menu__list--link" href="#">REGISTERS</a>
                </li>
                <li class="submenu__content__menu__list--item nav-item">
                    <a class="nav-link submenu__content__menu__list--link" href="#">PAIMENTS</a>
                </li>
                <li class="submenu__content__menu__list--item nav-item">
                    <a class="nav-link submenu__content__menu__list--link" href="#">CONFIGURATION</a>
                </li>
                <li class="submenu__content__menu__list--item nav-item">
                    <a class="nav-link submenu__content__menu__list--link" href="#">INFO</a>
                </li>
            </ul>
        </div>
    </div>
</section>