<section>
    <div class="container-fluid menu">
        <div class="container menu__content">
            <div class="menu__content__logo">
                <img class="menu__content__logo--imagem" src="../../../assets/img/logo.png" alt="logo">
            </div>
        </div>
    </div>
    <div class="container submenu__content">
        <div class="row col-sm-12 submenu__content__company justify-content-end">
            <div class="col">
                <h4>VEIACO TECNOLOGY COMPANY
                    <i class="fas fa-angle-double-left"></i>
                </h4>
            </div>
        </div>
        <div class="row align-items-end">
            <div class="col">
                <nav class="navbar navbar-expand-md navbar-light submenu__content__navbar">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                        <ul class="navbar-nav submenu__content__menu__list">
                            <li class="nav-item submenu__content__menu__list--item">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    REGISTERS
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" routerLink="debts">Debts</a>
                                    <a class="dropdown-item" href="#">Credits</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Debts Classification</a>
                                </div>
                            </li>
                            <li class="nav-item submenu__content__menu__list--item">
                                <a class="nav-link" href="#">MOVIMENTS</a>
                            </li>
                            <li class="nav-item submenu__content__menu__list--item">
                                <a class="nav-link" href="#">REPORTS</a>
                            </li>
                            <li class="nav-item submenu__content__menu__list--item">
                                <a class="nav-link" href="#">USERS</a>
                            </li>
                            <li class="nav-item submenu__content__menu__list--item">
                                <a class="nav-link" href="#">CONFIGURATIONS</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <div class="container submenu__content">
        <nav class="new__menu">
            <ul>
                <li><a href="#">REGISTERS</a>
                    <ul>
                        <li>
                            <a href="#">Debts</a>
                            <ul>
                                <li><a href="#">Debts</a></li>
                                <li><a href="#">Credts</a></li>
                                <li><a href="#">Debts Classification</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Credts</a></li>
                        <li><a href="#">Debts Classification</a></li>
                    </ul>
                </li>
                <li><a href="#">MOVIMENTS</a></li>
                <li><a href="#">REPORTS</a></li>
                <li><a href="#">USERS</a></li>
                <li><a href="#">CONFIGURATIONS</a></li>
            </ul>
        </nav>
    </div>

</section>