.page {
    background-color: white;
    width: auto;
}

.page__header {
    border-bottom: 1px solid #eaeaeb;
    padding-left: 8px;
    color: #a8a8a8;
}

.page__header h3 {
    margin: 0;
    padding-top: 5px;
}

.page__header span {
    font-size: 12px;
}

.page__content {
    padding-top: 5px;
    padding-left: 8px;
}

.page__content--buttom {
    height: 50px;
}

.page__content__buttom--item {
    background-color: inherit;
    border: 1px solid orange;
    width: 90px;
    height: 35px;
    color: orange;
}

.page__content__buttom--item:hover {
    background-color: orange;
    border-color: orange;
    color: white;
}

.page__content__buttom--item--outline {
    color: #dc3545;
    background-color: transparent;
    background-image: none;
    border-color: #dc3545;
    width: 90px;
    height: 35px;
}

.page__content__buttom--item--outline:hover {
    background-color: #dc3545;
    border-color: #dc3545;
    color: white;
}

.page__content__buttom--item+.page__content__buttom--item,
.page__content__buttom--item+.page__content__buttom--item--outline {
    margin-left: 4px;
}